<span class="tag">default</span>
<span class="tag --in-progress">In progress</span>
<span class="tag --submitted">Submitted</span>
<span class="tag --canceled">Canceled</span>
<span class="tag --upgrade">Upgrade</span>
<span class="tag --cif">CIF</span>
<span class="tag --imported">Imported</span>
<span class="tag --project">Project</span>
<span class="tag --global">Global</span>
<span class="tag --cable">Cable</span>
<span class="tag --wet">Wet Plant</span>
<span class="tag --land">Land</span>
<span class="tag --marine">Marine</span>
<span class="tag --ok">OK</span>
<span class="tag --nok">NOK</span>
