@use "colors";

$primary-palette: (
  50: colors.$primary-50,
  100: colors.$primary-100,
  200: colors.$primary-200,
  300: colors.$primary-300,
  400: colors.$primary-400,
  500: colors.$primary-500,
  600: colors.$primary-600,
  700: colors.$primary-700,
  800: colors.$primary-800,
  900: colors.$primary-900,
  A100: colors.$primary-100,
  A200: colors.$primary-200,
  A400: colors.$primary-400,
  A700: colors.$primary-700,
  contrast: (
    50: colors.$gray-800,
    100: colors.$gray-800,
    200: colors.$gray-800,
    300: colors.$gray-800,
    400: colors.$gray-800,
    500: colors.$gray-50,
    600: colors.$gray-50,
    700: colors.$gray-50,
    800: colors.$gray-50,
    900: colors.$gray-50,
    A100: colors.$gray-800,
    A200: colors.$gray-800,
    A400: colors.$gray-800,
    A700: colors.$gray-50,
  ),
);

$secondary-palette: (
  50: colors.$secondary-50,
  100: colors.$secondary-100,
  200: colors.$secondary-200,
  300: colors.$secondary-300,
  400: colors.$secondary-400,
  500: colors.$secondary-500,
  600: colors.$secondary-600,
  700: colors.$secondary-700,
  800: colors.$secondary-800,
  900: colors.$secondary-900,
  A100: colors.$secondary-100,
  A200: colors.$secondary-200,
  A400: colors.$secondary-400,
  A700: colors.$secondary-700,
  contrast: (
    50: colors.$gray-800,
    100: colors.$gray-800,
    200: colors.$gray-800,
    300: colors.$gray-800,
    400: colors.$gray-800,
    500: colors.$gray-50,
    600: colors.$gray-50,
    700: colors.$gray-50,
    800: colors.$gray-50,
    900: colors.$gray-50,
    A100: colors.$gray-800,
    A200: colors.$gray-800,
    A400: colors.$gray-800,
    A700: colors.$gray-50,
  ),
);

$warn-palette: (
  50: colors.$rusty-red-50,
  100: colors.$rusty-red-100,
  200: colors.$rusty-red-200,
  300: colors.$rusty-red-300,
  400: colors.$rusty-red-400,
  500: colors.$rusty-red-500,
  600: colors.$rusty-red-600,
  700: colors.$rusty-red-700,
  800: colors.$rusty-red-800,
  900: colors.$rusty-red-900,
  A100: colors.$rusty-red-100,
  A200: colors.$rusty-red-200,
  A400: colors.$rusty-red-400,
  A700: colors.$rusty-red-700,
  contrast: (
    50: colors.$gray-800,
    100: colors.$gray-800,
    200: colors.$gray-50,
    300: colors.$gray-50,
    400: colors.$gray-50,
    500: colors.$gray-50,
    600: colors.$gray-50,
    700: colors.$gray-50,
    800: colors.$gray-50,
    900: colors.$gray-50,
    A100: colors.$gray-800,
    A200: colors.$gray-800,
    A400: colors.$gray-50,
    A700: colors.$gray-50,
  ),
);
